/* You can add global styles to this file, and also import other style files */

@use 'ngx-toastr/toastr' as *;

* {
  margin: 0px;
  padding: 0px;
}
label,
p {
  font-size: large;
  font-weight: bold;
}
